VENUS_IMX214_SUNNY=/product/etc/camera/hwbeauty/imx214/
VENUS_IMX214_OFILM=/product/etc/camera/hwbeauty/imx214/
VENUS_IMX214_FOXCONN=/product/etc/camera/hwbeauty/imx214/
VENUS_IMX219_SUNNY=/product/etc/camera/hwbeauty/imx219/
VENUS_IMX219_LITEON=/product/etc/camera/hwbeauty/imx219/
VENUS_HI843_OFILM=/product/etc/camera/hwbeauty/hi843/